@font-face {
    font-family: "Work Sans";
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
}

:root {
    --font-primary: "Work Sans", sans-serif;
    --bg-primary: hsl(275, 100%, 97%);
    --bg-secondary: hsl(0, 0%, 100%);
    --color-heading: hsl(292, 42%, 14%);
    --color-text: hsl(292, 16%, 49%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-primary);
    font-size: 62.5%;
}

body {
    background-color: var(--bg-primary);
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    max-width: 500px;
    width: 90%;
    background-color: var(--bg-secondary);
    padding: 2.4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--color-text);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-heading);
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-item {
    border-bottom: 1px solid var(--bg-primary);
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    font-size: 1.4rem;
}

.accordion-button {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-heading);
    text-align: left;
    cursor: pointer;
    padding: 1rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
    padding: 1rem;
}

@media (max-width: 44rem) {
    body {
        background-image: url("assets/images/background-pattern-mobile.svg");
    }
}
